---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics;
---

<Section title="About" className={Astro.props.className}>
  <p>
    {summary}
  </p>
</Section>
