---
import Section from "../Section.astro";

import { basics } from "@cv";
const { summary } = basics;
---

<Section title="About" className={Astro.props.className}>
  <div class="relative grid gap-1">
    {
      summary
        .split("\n")
        .map((text) => <p class="whitespace-pre-line">{text}</p>)
    }
  </div>
</Section>
