---
import Section from "../Section.astro";

import { interests } from "@cv";
---

<Section className={Astro.props.className} title="Interests">
  <ul class="flex items-center gap-4 md:gap-8">
    {
      interests.map(({ name }) => {
        return (
          <li class="rounded-sm border border-solid border-skin-hue px-2 py-1 drop-shadow-[0_0_10px_rgba(var(--color-button-accent),1)]">
            <p class="text-skin-hue">{name}</p>
          </li>
        );
      })
    }
  </ul>
</Section>
