---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";
import Tail from "@/components/sections/Tail.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`${name} Portafolio - ${label}`}>
  <main
    class="relative grid max-w-7xl gap-12 p-2 max-sm:py-16 md:grid-cols-6 md:p-16 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-6 print:py-0"
  >
    <div class="relative space-y-6 md:col-span-2 print:col-span-1">
      <div
        class="sticky right-0 top-8 grid gap-4 md:col-span-2 print:col-span-1 print:grid print:grid-cols-2 print:gap-5 print:space-y-0"
      >
        <div class="absolute top-0 -z-10 h-full w-full print:hidden">
          <div
            class="rotate-focus absolute h-[200px] w-[200px] rounded-full bg-skin-hue/30 blur-[80px] invert-0"
          >
          </div>
        </div>
        <Hero />
        <About />
        <ThemeSwitch />
      </div>
    </div>
    <div
      class="space-y-12 md:col-span-4 print:col-span-1 print:grid print:grid-cols-4 print:gap-4 print:space-y-0"
    >
      <Experience className="print:col-span-4" />
      <Projects className="print:hidden" />
      <Skills className="print:col-span-4 print:gap-2" />
      <Education className="print:hidden" />
    </div>
    <Tail />
  </main>

  <KeyboardManager />
</Layout>

<style>
  @page {
    size: auto;
    margin: 0mm;
    margin: 20px;
  }
  @page :first {
    margin-top: 50px;
  }
  #page-heading {
    content: "";
  }
  main {
    margin: auto;
    width: 100%;
  }

  @keyframes move-focus {
    0% {
      transform: translate(100px, 200px);
    }
    20% {
      transform: translate(-100px, 200px);
    }
    30% {
      transform: translate(40px, 100px) scale(1.5);
    }
    60% {
      transform: translate(100px, -100px);
    }
    70% {
      transform: translate(-100px, -100px);
    }
    100% {
      transform: translate(100px, 200px);
    }
  }
  .rotate-focus {
    transition: all;
    animation:
      move-focus 20000ms cubic-bezier(1, -1.9, 0, 2.87) infinite forwards,
      pulse 1s ease-in-out infinite;
  }
</style>
